<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>エラー</title>
    </head>
    <body>
        <h1>エラーが発生しました。</h1>
        <h2 color="orange">未入力項目があります。</h2>
        <button href="db_form.html">前画面に戻る</button>
    </body>
</html>