<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>登録完了</title>
    </head>
    <body>
        <h1>ご登録ありがとうございました。</h1>
        <button href="db_form.php">トップへ戻る</button>
    </body>
</html>